@page
@model NoteIt.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<div class="container">
    <form method="post">
        <button type="submit" asp-page-handler="Create">Create Note</button>
    </form>
</div>

<div class="container-fluid">
    @foreach(var note in Model.Notes)
    {
        <div class="col-xs-4">
            <form method="post">
                @*<div>Id: @note.RowKey</div>
                <div>UserId: @note.UserId</div>
                <div>CreatedAt: @note.CreatedAt</div>
                <div>ModifiedAt: @note.ModifiedAt</div>
                <div>IsPinned: @note.IsPinned</div>
                <div>IsShared: @note.IsShared</div>*@
                <div>Url: <a href="@note.Url">Note</a></div>
                <div>Title: <input asp-for="Note.Title" value="@note.Title" class="form-control"/></div>
                <span asp-validation-for="Note.Title" class="text-danger"></span>
                <div>Content: <textarea id="@Html.IdFor(m => m.Note.Title)" name="@Html.NameFor(m => m.Note.Content)" class="form-control" rows="5">@note.Content</textarea></div>
                <button type="submit" asp-page-handler="Delete" asp-route-id="@note.RowKey">Delete</button>
                <button type="submit" asp-page-handler="Edit" asp-route-id="@note.RowKey">Save</button>
                @if (note.IsPinned == false)
                {
                    <button type="submit" asp-page-handler="PinUnpin" asp-route-id="@note.RowKey">Pin</button>
                }
                else
                {
                    <button type="submit" asp-page-handler="PinUnpin" asp-route-id="@note.RowKey">Unpin</button>
                }
                @if (note.IsShared == false)
                {
                    <button type="submit" asp-page-handler="ShareUnshare" asp-route-id="@note.RowKey">Share</button>
                }
                else
                {
                    <button type="submit" asp-page-handler="ShareUnshare" asp-route-id="@note.RowKey">Unshare</button>
                }
            </form>
        </div>
    }
</div>